/* Style global pour la page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/assets/bg.png');
}

/* Conteneur du formulaire */
.register-container {

  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
}

/* Titre */
.register-container h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Champs du formulaire */
.register-container form div {
  margin-bottom: 15px;
  text-align: left;
}

.register-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.register-container input,
.register-container select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.register-container select {
  width: 100%;
}

/* Message d'erreur ou de succès */
.message {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Bouton */
.register-container button {
  background-color: #d4af37; /* Or couleur dorée */
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.register-container button:hover {
  background-color: #b89b2e;
}
